.netflex_hide {
	display: none !important;
}

.player-timedtext[netflex_highlighted="shadow"] .player-timedtext-text-container span {
    text-shadow: #000000 -2px 0px, #000000 0px 2px, #000000 2px 0px, #000000 0px -2px !important;
}

.player-timedtext[netflex_highlighted="background"] .player-timedtext-text-container span {
    background: rgba(0,0,0,0.5) !important;
}

.VideoContainer video[netflex_video_features="on"]:not(:not([netflex_aspect_ratio])) {
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%;
}

.VideoContainer video[netflex_video_features="on"][netflex_aspect_ratio="21_9"] {
    width: 134% !important;
    height: 134% !important;
}

.VideoContainer video[netflex_video_features="on"][netflex_aspect_ratio="manual"] {
    width: var(--netflex_zoom, 100%) !important;
    height: var(--netflex_zoom, 100%) !important;
}

.VideoContainer video[netflex_video_features="on"] {
    filter: var(--netflex_filter, none) !important;
}